
.entries-list{
  padding: 0px 10px;
  width: fit-content;

}
.extra-icon-container{
  padding: 0 5px;
  width: 6vh;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;

}
.control-panel-item{
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}