
.extra-icon-container{
  width: 5vh;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;

}
.control-panel-item{
  padding: 5px 0;
  display: flex;
  justify-content: space-around;


  

}