$headerHeight : 64px;
$contentTopPadding: 2vh;

.frame-content{

   background: #fff;
   padding:$contentTopPadding 24px 0px 24px;
   margin: 0;
   height: calc(100vh - #{$headerHeight} - 2*24px );
}

.frame-header{
   height: $headerHeight !important;
   min-height: 64px;
   padding: 0 10px  !important;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   p{
       margin-bottom:0 !important;
       flex-shrink: 2;

   }
   img{
    padding: 0 10px 0 10px

   }
}
.trigger{
    font-size: 24px
}
.trigger-disable{
    display: none !important;
}