$headerHeight: 64px;
$contentTopPadding: 2vh;
$headerIconSize: 24px;

.frame-content {
  padding: $contentTopPadding 24px 0px 24px;
  margin: 0;
  height: 100%;
}

.trigger-disable {
  display: none !important;
}
.frame-header {
  height: $headerHeight !important;
  min-height: 64px;
  padding: 0 10px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0 !important;
    flex-shrink: 2;
    font-size: 10pt;

  }
  .img-wrapper{
    padding: 3px 10px;
    height: 100%;
    display: flex;
    align-content: center;
  }
  img {
    position: relative;
    padding: 0;
    height:100%;
    width: auto;
  }
  .login-button {
    font-size: $headerIconSize;
    margin-left: auto;
    padding-right: 20px;
    cursor: pointer;
  }
}

.frame-sider {
  width: 320px;
}

.inline-progress {
  float: right;
}
.trigger-common{
  display: none;
}

.menu-item-link {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

